<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="candy" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:xe">
		</property>
		<property name="username" value="lulu"></property>
		<property name="password" value="123"></property>
	</bean> 
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="candy" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.OracleDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>entity/Admini.hbm.xml</value>
				<value>entity/ArrangeSchedual.hbm.xml</value>
				<value>entity/Swap.hbm.xml</value>
				<value>entity/Site.hbm.xml</value>
				<value>entity/ScheduledBus.hbm.xml</value>
				<value>entity/Route.hbm.xml</value>
				<value>entity/Passenger.hbm.xml</value>
				<value>entity/Employee.hbm.xml</value>
				<value>entity/Driver.hbm.xml</value>
				<value>entity/Executives.hbm.xml</value>
				</list>
		</property>
	</bean>
	
	<bean id="personManage" class="dao.PersonManage" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="busManage" class="dao.BusManage" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="routeManage" class="dao.RouteManage" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="schedualManage" class="dao.SchedualManage" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="siteManage" class="dao.SiteManage" abstract="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" >
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="loginAction" class="com.action.loginAction" scope="prototype">
	     <property name="personManage">
	         <ref bean="personManage" />
	     </property>  
	</bean>
	<bean id="ManagePerson" class="com.action.ManagePerson" scope="prototype">
		<property name="personManage">
			<ref bean="personManage"></ref>
		</property>		
	</bean>
	<bean id="DeletePerson" class="com.action.DeletePerson" scope="prototype">
		<property name="personManage">
			<ref bean="personManage"></ref>
		</property>	
	</bean>
	<bean id="ManageBusSystem" class="com.action.ManageBusSystem" scope="prototype">
		<property name="busManage">
			<ref bean="busManage"></ref>
		</property>	
		
		<property name="routeManage">
			<ref bean="routeManage"></ref>
		</property>	
		
		<property name="schedualManage">
			<ref bean="schedualManage"></ref>
		</property>

		<property name="siteManage">
			<ref bean="siteManage"></ref>
		</property>	
		
	</bean>
	
	<bean id="DeleteBus" class="com.action.DeleteBus" scope="prototype">
		<property name="busManage">
			<ref bean="busManage"></ref>
		</property>
	</bean>
</beans>
